@model FisheryServiceDisplayModel


<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Winter</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Spring</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Summer</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio4">Fall</label>
</div>


<div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio5">Bass</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio6">Crappie</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio7">Catfish</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio8">Brim</label>
  
   <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio9">Walleye</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio10">Perch</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off">
       <label class="btn btn-outline-primary" for="btnradio11">Pike</label>
  
</div>

<p>Hello</p>