

@model FisheryServiceDisplayModel

<input type="hidden" id="hdnModelNonce" value="@Model.Nonce"/>

<h3>@Model.Name</h3>


<div class="row">
   
    <div class="col-11">
        <div id="detailMap" class="smallDetailMap"></div>
    </div>

</div>

@section scripts
{
    <script src="~/js/scripts/Fishery/FisheryDetailController.js" asp-append-version="true"></script>
    
}
