<!DOCTYPE html>

<html>
<head>
    <title>Hello</title>
</head>
<body>
<div>
    Hello
</div>
</body>
</html>


@section scripts
{
    <script src="js/scripts/Home/HomeMapController.js"></script>
    
}